<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Feedback Happy</title>
<meta name="viewport" content="width=device-width, intial-scale=1.0"/>
<meta name="author" content" Arjun Wadhwa"/>
<link href="../css/bootstrap.min.css" rel="stylesheet" />
<link href="../css/style.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body class="fluid-container">
<div class="main">
	<div class="bill">
		<div class="thankYou">
			<div class="tyImage" align="center">
				<img src="../img/thankyou.png" width="100%">
			</div>
			<div class="tyText">
				Thank You
			</div>
			<div class="tySubText">
				Your feedback is Valuable to us</div>
		</div>

	</div>
</div>
</body>
<script src="../js/default.js"></script>
</html>